@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bree Serif', serif;
  color: #16113a;
  font-weight: bold;
}

p,
a {
  color: #16113a;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}

#top__event__info {
  background: #3CD3D3;
}

#top__event__info .top__event__box {
  display: grid;
  place-items: center;
}

#top__event__info .top__event__box h4 {
  font-size: 1.8rem;
  word-spacing: 2px;
}

#top__event__info .top__event__box h4 a {
  text-decoration: none;
  color: #16113a;
  border-bottom: 2px solid;
  padding-bottom: 2px;
}

#top__event__info .top__event__box h4 a:hover {
  opacity: 0.8 !important;
}

#main__navbar_section {
  background: #16113a;
}

#main__navbar_section .navbar {
  background: #16113a;
}

#main__navbar_section .navbar .navbar-nav {
  margin-left: 80px;
}

#main__navbar_section .navbar .navbar-nav .nav-link {
  color: #ffffff;
  margin-right: 15px;
  font-weight: bold;
}

#main__navbar_section .navbar .navbar-nav .nav-link:hover {
  color: #0EC54E;
}

#main__navbar_section .navbar .navbar-nav .dropdown-item {
  color: #16113a;
  font-weight: bold;
  margin-bottom: .6rem;
  font-size: 1.5rem;
  transition: all .15s ease-out;
}

#main__navbar_section .navbar .navbar-nav .dropdown-item:hover {
  background: none;
  color: #0EC54E;
}

#main__navbar_section .navbar .navbar-nav .BP-lower-col-content-box {
  text-align: left;
}

#main__navbar_section .navbar .navbar-nav .BP-lower-col-content-box h3 {
  font-size: 1.7rem;
  padding-left: 1rem;
}

#main__navbar_section .navbar .navbar-nav .BP-lower-col-content-box ul {
  padding: 0px;
}

#main__navbar_section .navbar .navbar-nav .BP-lower-col-content-box ul li {
  list-style: none;
}

#main__navbar_section .navbar .navbar-nav .BP-Upper-col-content-box {
  padding: 1.3rem 1rem;
  background: #F8F8F9;
  cursor: pointer;
}

#main__navbar_section .navbar .navbar-nav .BP-Upper-col-content-box .BP-upper-content-box {
  margin-left: 2rem;
}

#main__navbar_section .navbar .navbar-nav .BP-Upper-col-content-box .BP-upper-content-box h4 {
  font-size: 1.9rem;
  word-spacing: .1rem;
}

#main__navbar_section .navbar .navbar-nav .BP-Upper-col-content-box .BP-upper-icon-box {
  margin-left: 1rem;
}

#main__navbar_section .navbar .navbar-nav .BP-Upper-col-content-box .BP-upper-icon-box i {
  font-size: 2rem;
  color: #16113a;
  transition: .3s ease-in-out;
}

#main__navbar_section .navbar .navbar-nav .BP-Upper-col-content-box:hover i {
  padding-left: 1.1rem;
}

#main__navbar_section .navbar .navbar-nav .dropdown:hover .dropdown-toggle::after {
  transform: rotate(-180deg);
  transition: .2s ease-in-out;
}

#main__navbar_section .navbar .navbar-collapse .login-link {
  text-decoration: none;
  color: #16113a;
  font-weight: bold;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  transition: all .15s ease-out;
}

#main__navbar_section .navbar .navbar-collapse .login-link:hover {
  color: #0EC54E;
}

#main__navbar_section .navbar .navbar-collapse .sign-up-btn {
  padding: .7rem 4rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  color: #16113a;
  border-radius: 5rem;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  background: #0EC54E;
}

#main__navbar_section .navbar .navbar-collapse .sign-up-btn:hover {
  opacity: 0.9 !important;
}

#main__navbar_section .navbar .navbar-toggler {
  color: transparent;
}

#main__navbar_section .navbar .navbar-toggler i {
  color: #ffffff;
  font-size: 2.3rem;
}

#top_header_container {
  padding-bottom: 5rem;
  overflow: hidden;
}

#top_header_container .top_header_contents_box h1 {
  font-size: 5.5rem;
}

#top_header_container .top_header_contents_box p {
  font-size: 2.9rem;
  margin-top: 4rem;
}

#top_header_container .top_header_contents_box button {
  outline: none;
  border: none;
  color: #16113a;
  border-radius: 5rem;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  background: #0EC54E;
  margin-top: 2.5rem;
  font-size: 2rem;
  padding: 1.2rem 3.3rem;
}

#top_header_container .top_header_contents_box button:hover {
  opacity: 0.9 !important;
}

#top_header_container .top_header_container_row_2 {
  margin-top: 12rem;
  text-align: center;
}

#top_header_container .top_header_container_row_2 .Trusted_box h1 {
  font-size: 4rem;
}

#top_header_container .top_header_container_row_2 .company_img_box {
  margin-top: 5rem;
}

#top_header_container .top_header_container_row_2 .company_img_box ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#top_header_container .top_header_container_row_2 .company_img_box ul li {
  list-style: none;
}

#top_header_container .top_header_container_row_2 .company_img_box ul li img {
  width: 19rem;
  margin-right: 5rem;
}

#information_cont_img {
  background: #F8F8F9;
  overflow: hidden;
  padding-top: 10rem;
}

#information_cont_img .row {
  padding-bottom: 12rem;
}

#information_cont_img .row:last-child {
  padding-bottom: 7rem;
}

#information_cont_img .row .quotes_box {
  border: .3em solid #000000;
  background: #ffffff;
  border-radius: 2rem;
  position: relative;
}

#information_cont_img .row .quotes_box p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

#information_cont_img .row .quotes_box h4 {
  font-size: 1.7rem;
}

#information_cont_img .row .quotes_box h4 span {
  font-size: 2.5rem;
}

#information_cont_img .row .quotes_box .quotes_box_inner {
  padding-top: 5rem !important;
}

#information_cont_img .row .quotes_box:before {
  content: '';
  width: 130px;
  height: 115px;
  background: url(../img/grid-info/4.svg) center center/contain no-repeat;
  position: absolute;
  top: -70px;
  left: 10px;
}

#information_cont_img .information_cont_box h2 {
  font-size: 3.2rem;
  margin-bottom: 5.4rem;
}

#information_cont_img .information_cont_box p {
  font-weight: bold;
  line-height: 3rem;
}

#information_cont_img .information_cont_box a {
  text-decoration: none;
  color: #16113a;
  font-weight: bold;
}

#information_cont_img .information_cont_box a span i {
  font-size: 2rem;
  margin-left: .8rem;
  transition: .3s ease-in-out;
}

#information_cont_img .information_cont_box a:hover i {
  margin-left: 2rem;
}

#geck_work_video_sec {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

#geck_work_video_sec h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

#geck_work_video_sec .thumbnail-box {
  position: relative;
}

#geck_work_video_sec .thumbnail-box .thumbnail-img {
  position: relative;
}

#geck_work_video_sec .thumbnail-box .thumbnail-img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .6;
  content: "";
  background-color: rgba(22, 17, 58, 0.5);
  transition: opacity 225ms ease-in-out;
  z-index: 1;
  border-radius: .8rem;
}

#geck_work_video_sec .thumbnail-box .thumbnail-img img {
  border: .3em solid #000000;
  border-radius: .8rem;
}

#geck_work_video_sec .thumbnail-box button {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: transform .15s ease-out;
  z-index: 2;
  padding: 1.1rem 3.3rem;
  border-radius: 5rem;
  outline: none;
  font-weight: bold;
  font-size: 2.6rem;
  color: #16113a;
  border: none;
  display: flex;
  align-items: center;
}

#geck_work_video_sec .thumbnail-box button img {
  padding-right: 1rem;
}

#card_sec {
  overflow: hidden;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

#card_sec .row {
  padding: 0rem 7rem;
}

#card_sec .row h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 5rem;
  padding-bottom: 3rem;
}

#card_sec .row .card_sec_col {
  padding-bottom: 9rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#card_sec .row .card_sec_col .card_img_box {
  padding-right: 3rem;
}

#card_sec .row .card_sec_col .card_content_box h4 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

#card_sec .row .card_sec_col .card_content_box p {
  font-weight: bold;
}

#card_sec .row .card_sec_col .card_content_box a {
  text-decoration: none;
  color: #16113a;
  font-weight: bold;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  transition: all .15s ease-out;
}

#card_sec .row .card_sec_col .card_content_box a:hover {
  color: #0EC54E;
}

#card_sec .row .card_btn_box button {
  outline: none;
  border: none;
  color: #16113a;
  border-radius: 5rem;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  background: #0EC54E;
  padding: 1.5rem 4.5rem;
}

#card_sec .row .card_btn_box button:hover {
  opacity: 0.9 !important;
}

#slider_sec {
  background: #F8F8F9;
  padding-top: 10rem;
}

#slider_sec .sld-row-1 .slider_top_contets h2 {
  font-size: 5rem;
  letter-spacing: .2rem;
  padding-bottom: 2.5rem;
}

#slider_sec .sld-row-1 .slider_top_contets p {
  font-size: 2.4rem;
  padding-bottom: 3rem;
}

#slider_sec .sld-row-1 .slider-active-link-main-box .slider-active-link-box button {
  text-decoration: none;
  color: #16113a;
  font-weight: bold;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  transition: all .15s ease-out;
  outline: none;
  border: none;
  padding: .7rem 4rem;
  background: transparent;
  margin: 1.5rem;
}

#slider_sec .sld-row-1 .slider-active-link-main-box .slider-active-link-box button:hover {
  color: #0EC54E;
}

#slider_sec .sld-row-1 .slider-active-link-main-box .slider-active-link-box button span {
  font-size: 2rem;
  font-weight: bold;
}

#section_footer {
  background: #16113a;
  padding-top: 10rem;
  margin-top: 5rem;
}

#section_footer .footer_top_rw .ftr_cnt_box {
  text-align: center;
}

#section_footer .footer_top_rw .ftr_cnt_box h1 {
  color: #ffffff;
  font-size: 5rem;
  letter-spacing: .1rem;
  padding-bottom: 2rem;
}

#section_footer .footer_top_rw .ftr_cnt_box button {
  outline: none;
  border: none;
  color: #16113a;
  border-radius: 5rem;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  background: #0EC54E;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  margin-bottom: 4rem;
}

#section_footer .footer_top_rw .ftr_cnt_box button:hover {
  opacity: 0.9 !important;
}

#section_footer .footer_top_rw .ftr_cnt_box p {
  color: #ffffff;
  letter-spacing: .1rem;
  font-weight: bold;
  padding-top: 2rem;
}

#section_footer .footer_top_rw .ftr_cnt_box p a {
  text-decoration: none;
  color: #16113a;
  font-weight: bold;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  transition: all .15s ease-out;
  color: #ffffff;
}

#section_footer .footer_top_rw .ftr_cnt_box p a:hover {
  color: #0EC54E;
}

#section_footer .footer_low_rw {
  padding-top: 8rem;
}

#section_footer .footer_low_rw .ftr_link_box .ancor_bx a {
  text-decoration: none;
  color: #16113a;
  font-weight: bold;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  transition: all .15s ease-out;
  color: #ffffff;
  margin-right: 3rem;
  border: none;
}

#section_footer .footer_low_rw .ftr_link_box .ancor_bx a:hover {
  color: #0EC54E;
}

#section_footer .footer_low_rw .ftr_social_box .flw-us {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
  color: #ffffff;
}

#section_footer .footer_low_rw .ftr_social_box span i {
  font-size: 3rem;
  margin-right: 2rem;
  color: #ffffff;
  cursor: pointer;
}

/* Copyright sections */
.copyright_section {
  background: #ffffff;
}

.copyright_section .copyright_column p {
  color: #16113a;
}

.copyright_section .copyright_column p a {
  text-decoration: none;
  color: #16113a;
  font-weight: bold;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  transition: all .15s ease-out;
}

.copyright_section .copyright_column p a:hover {
  color: #0EC54E;
}
